.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tweet-component {
    display: flexbox;
    position: relative;
    text-align: center;
    margin: auto;
    width: 70%;
    gap: 10px;
    background-color: rgb(177, 252, 255);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tweet-header {
    width: 100%;
    position: inherit;
    background-color: rgb(160, 228, 255);
    left: -20px;
    top: -5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tweet-username {
    width: 50%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.tweet-date {
    width: 50%;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    text-align: right;
}

.tweet-message {
    text-align: left;
    font-size: 20px;
}